@import "~bootstrap/scss/bootstrap";

.Home {
  .current-epoch {
    .current-epoch-stats {
      .current-epoch-stat {
        .label {
          font-weight: bold;
        }

        .label, .value {
          width: 50%;
        }
      }
    }
  }

  .tuna-stats {
    .label {
      font-weight: bold;
    }

    .label, .value {
      width: 50%;
    }
  }
}